<div class="quote padding-tb-24">
  <div *ngIf="isEditPage; then edit else add"></div>
  <ng-template #edit><h1>Edit quote</h1></ng-template>
  <ng-template #add><h1>Add a quote</h1></ng-template>

  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Quote Text" [(ngModel)]="quote.quoteText">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="text" placeholder="Quote Narrator" [(ngModel)]="quote.quoteNarrator">
    </mat-form-field>
  </div>
  <button mat-button class="button-color" (click)="save()">Save</button>
</div>

